<section class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-7 col-lg-9">
      <h1 class="genre_title_list">ジャンル一覧</h1>
    </div>
    <div class="col-xs-8 col-sm-5 col-lg-3">
      <%= form_for(@genre) do |f| %>
        <div class="input-group genre_new">
          <%= f.text_field :genre_name, required: true, class: 'form-control' %>
          <span class="input-group-btn">
            <%= f.submit "新規登録", class: 'btn btn-default' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>ジャンル名</th>
          <th>編集</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <%= form_for(genre) do |f| %>
            <tr class="admin_genre">
              <td><%= genre.id %></td>
              <td><%= genre.genre_name %></td>
              <td><%=  f.text_field :genre_name, class: 'form_control' %></td>
              <td><%= f.submit "更新", class: 'btn btn-default' %></td>
              <td><%= link_to '削除', genre_path(genre.id), method: :delete, "data-confirm" => "削除しますか？", class: 'btn btn-link' %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @genres %>
  </div>
</section>
