<article class="container">
	<div class="row">
		<section class="col-xs-8">
			<h2>記事管理</h2>
<!-- 自身の記事一覧 -->
			<%= render 'posts/list', posts: @posts %>
		</section>
<!-- 右バー ユーザー編集 -->
		<section class="col-xs-4">
			<%= form_for(@user) do |f| %>
				<%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: 'no_image.jpg', size: '140x120', class: 'img-circle pull-left profile-img' %>
				<%= f.attachment_field :profile_image %>
				<br>
				<%= f.text_field :name, autofocus: true, class: '' %><br>
				<br>
				<%= f.text_area :introduction, class: '' %>
				<br>
				<%= f.submit "更新する", class: '' %>
			<% end %>
			<%#= link_to "パスワードの再設定はこちら", new_password_path(resource_name) %>
			<%#= link_to "メールアドレス変更はこちら", confirmation_url(@resource, confirmation_token: @token) %>
		</section>
	</div>
</article>