<div class="container">
	<div class="row">
		<section class="col-xs-9">
			<h2>記事管理</h2>
<!-- 自身の記事一覧 -->
			<%= render 'posts/list', posts: @posts %>
		</section>
<!-- バー ユーザー編集 -->
		<section class="col-xs-3 text-center">
			<%= form_for(@user) do |f| %>
				<div class="row">
					<div class="col-xs-9 col-xs-offset-1">
						<%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: 'no_image.jpg' %>
					</div>
				</div>
				<br>
				<p>プロフィール画像</p>
				<%= f.attachment_field :profile_image %>
				<br>
				<P>マイページヘッダー画像</P>
				<%= f.attachment_field :profile_headerimage %>
				<br>
				<p>ユーザーネーム</p>
				<%= f.text_field :name, autofocus: true, class: '' %><br>
				<br>
				<p>紹介文</p>
				<%= f.text_area :introduction, size: '30x10', value: "自己紹介欄" %>
				<br>
				<%= f.submit "更新する" %>
			<% end %>
			<br>
			<%= link_to "退会はこちら", delete_user_path(@user) %>
		</section>
	</div>
</div>