<% if @new_posts.count == 0 %>
  <div class="container-fluid">
    <section class="row">
      <div class="col-xs-7 col-xs-offset-1">
        <h2>まだ記事はありません。</h2>
      </div>
      <div class="col-xs-3 text-center">
        <%= render 'users/side', user: @user %>
      </div>
    </section>
  </div>
<% else %>
  <div class="container-fluid top">
    <div class="top_contents">
      <% @post_pv_counts.each do |post| %>
        <div class="item">
          <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg' %>
          <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
            <h4 style="color: black;"><%= post.title.truncate(20) %></h4>
          <% end %>
          <p><%= post.genre.genre_name %></p>
          <p class="text-right top_posted_date">
            投稿日:<%= post.created_at.strftime("%Y-%m-%d") %><br>
            最終更新日:<%= post.updated_at.strftime("%Y-%m-%d") %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <!-- 新着 -->
      <section class="col-xs-8 post_contents">
        <h2 class="page-header text-center">新着記事</h2>
        <div class="row row-eq-height">
          <% @new_posts.each do |post| %>
          <div class="col-xs-6 post_content">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-4 col-md-5 user_post_image">
                <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg' %>
              </div>
              <div class="col-xs-12 col-sm-8 col-md-7 ">
                <h4 class="user_post_title"><%= post.title.truncate(20) %></h4>
                <p class="user_post_genre"><%= post.genre.genre_name %></p>
                <p class="text-right posted_date">
                投稿日:<%= post.created_at.strftime("%Y-%m-%d") %>
                </p>
                <div class="text-center panel panel-default">
                  <%= link_to "記事を読む", post_path(post.id), :style=> 'text-decoration: none;' %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <%= paginate @new_posts %>
      </section>
    <!-- サイドバー -->
      <section class="col-xs-3 col-sm-offset-1 text-center sidebar">
        <div class="sidebar_top">
          <h4 class="page-header popular_headertitle">人気記事ランキング</h4>
          <% @popular_posts.each do |post| %>
            <div class="row popular_post">
              <div class="col-xs-5 user_popular_image">
                <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg', class: 'popular_headerimage' %>
              </div>
              <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
                <p class="text-left user_popularpost_title" style="color: black;"><%= post.title.truncate(20) %></p>
                <p class="text-left user_popularpost_genre" style="color: black;"><%= post.genre.genre_name %></p>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="sidebar_bottom">
        <!-- プロフィール -->
          <%= render 'users/side', user: @user %>
        <!-- 円グラフ -->
        <div class="pie_chart">
          <div class="pie_chart_top">
            <%= pie_chart @genres_data.group(:genre_name).count %>
          </div>
          <div class="pie_chart_bottom">
            <%= pie_chart @emotions_data.group(:emotion_name).count %>
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>