<h4 class="text-center page-header"><%= comment_counts.count %>件コメント</h4>
<ol>
  <div class="row">
    <% post_comments.each do |comment| %>
      <li class="col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="col-xs-2 comment_image">
            <%= attachment_image_tag comment.user, :profile_image, format: 'jpeg', fallback: "/images/no_image.jpg" %>
          </div>
          <div class="col-xs-10">
            <%= link_to user_path(comment.user.id), :style=> 'text-decoration: none; color: black;' do %>
              <%= comment.user.name %>&nbsp;
            <% end %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><br>
            <%= comment.comment %>
            <% if current_user && comment.user.id == current_user.id || current_user && current_user.admin == true %>
              <div class="text-right">
                <%= link_to "削除", post_comment_path(comment.post,comment.id), method: :delete, "data-confirm" => "削除しますか？", class: 'btn btn-default' %>
              </div>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <%= paginate post_comments %>
  </div>
</ol>
<!-- コメント送信フォーム -->
<% if user_signed_in? %>
  <%= form_for [post, comment] do |f| %>
    <%= f.text_area :comment, rows:'3', placeholder: "コメント", class: 'form-control' %>
    <%= f.submit "コメントを送信", class: 'btn btn-default' %>
  <% end %>
<% end %>