<section class="comment">
	<h4 class="text-center"><%= post.comments.count %>件コメント</h4>
	<ol>
		<% post.comments.each do |comment| %>
			<li>
				<%= attachment_image_tag comment.user, :profile_image, format: 'jpeg', size: '35x35', fallback: "no_image.jpg" %>
				<%= link_to user_path(comment.user.id) do %>
					<%= comment.user.name %>&nbsp;
				<% end %>
				<%= comment.created_at.strftime('%Y/%m/%d') %>
				<div class=""><%= comment.comment %></div>
			</li>
		<% end %>
	</ol>
	<!-- コメント送信フォーム -->
	<%= form_for [post, comment] do |f| %>
		<%= f.text_area :comment, rows:'3', placeholder: "コメント", class: 'form-control' %>
		<%= f.submit "コメントを送信", class: 'btn btn-default' %>
	<% end %>
</section>
<%#= render 'posts/comment', post: @post, comment: @comment %>