<!-- ジャンル別人気 -->
<div class="col-sm-4 genre">
  <h3 class="genre_top">
    <% genre_popular_posts.first(1).each do |post| %>
      <%= post.genre.genre_name %>
    <% end %>
  </h3>
  <% genre_popular_posts.each do |post| %>
    <div class="row genre_contents">
      <div class="col-xs-2 col-sm-4 genre_content_image">
        <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg' %>
      </div>
      <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
        <h4 class="genre_title" style="color: black;"><%= post.title.truncate(25) %></h4>
      <% end %>
      <%= link_to user_path(post.user.id), :style=> 'text-decoration: none;' do %>
        <p class="text-right genre_username" style="color: black;"><%= post.user.name %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-sm-4 genre">
  <h3 class="genre_top">
    <% genre_popular_posts2.first(1).each do |post| %>
      <%= post.genre.genre_name %>
    <% end %>
  </h3>
  <% genre_popular_posts2.each do |post| %>
    <div class="row genre_contents">
      <div class="col-xs-2 col-sm-4 genre_content_image">
        <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg' %>
      </div>
      <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
        <h4 class="genre_title" style="color: black;"><%= post.title.truncate(25) %></h4>
      <% end %>
      <%= link_to user_path(post.user.id), :style=> 'text-decoration: none;' do %>
        <p class="text-right genre_username" style="color: black;"><%= post.user.name %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-sm-4 genre">
  <h3 class="genre_top">
    <% genre_popular_posts3.first(1).each do |post| %>
      <%= post.genre.genre_name %>
    <% end %>
  </h3>
  <% genre_popular_posts3.each do |post| %>
    <div class="row genre_contents">
      <div class="col-xs-2 col-sm-4 genre_content_image">
        <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg' %>
      </div>
      <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
        <h4 class="genre_title" style="color: black;"><%= post.title.truncate(25) %></h4>
      <% end %>
      <%= link_to user_path(post.user.id), :style=> 'text-decoration: none;' do %>
        <p class="text-right genre_username" style="color: black;"><%= post.user.name %></p>
      <% end %>
    </div>
  <% end %>
</div>