<section class="container">
  <%= link_to posts_path, :style=> 'text-decoration: none;' do %>
    <h2 style="color: black;">記事一覧</h2>
  <% end %>
  <!-- 検索フォーム -->
  <% if @posts.count == 0 %>
  <% else %>
    <div class="row">
      <div class="post_list">
        <div class="row row-eq-height">
          <% @posts.each do |post| %>
            <div class="col-xs-4 new_contents">
              <div class="row">
                <div class="col-xs-5">
                  <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: 'no_image.jpg', class: 'post_headerimage' %>
                </div>
                <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
                  <h4 style="color: black;"><%= post.title.truncate(30) %></h4>
                <% end %>
                <p><%= post.genre.genre_name %></p>
                <%= link_to user_path(post.user.id), :style=> 'text-decoration: none;' do %>
                  <div class="text-right" style="color: black;"><%= post.user.name %></div>
                <% end %>
                <p class="posted_date text-right"><%= post.created_at.strftime("%Y-%m-%d") %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= paginate @posts %>
  <% end %>
</section>