<section class="container">
	<div class="row">
		<div class="">
			<%= link_to posts_path do %>
				<h2>記事一覧</h2>
			<% end %>
		</div>

		<% if @posts.count == 0 %>
		<% else %>
			<table class="table">
				<thead>
					<tr class="info">
						<th>ユーザー名</th>
						<th>タイトル</th>
						<th>本文</th>
					</tr>
				</thead>
				<tbody>
					<% @posts.each do |post| %>
					<tr class="active">
						<td>
							<%= link_to user_path(post.user.id) do %>
								<%= post.user.name %>
							<% end %>
						</td>
						<td>
							<%= link_to post_path(post.id) do %>
								<%= post.title %>
							<% end %>
						</td>
						<td>
							<%= link_to post_path(post.id) do %>
								<%= post.body.truncate(50) %>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
		<%= paginate @posts %>
	</div>
</section>