<div class="container">
  <div class="row">
    <section class="col-xs-9 post_show">
      <h2 class="post_title"><%= @post.title %></h2>
      <p><%= @post.genre.genre_name %></p>
      <p class="posted_date">投稿日:<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 post_image">
          <%= attachment_image_tag @post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg', class: 'post_headerimage' %>
        </div>
      </div>
      <div>
        <%= markdown(@post.body).html_safe %>
      </div>
      <p class="text-right"><%= @post.emotion.emotion_name %></p>
      <br>
      <p>閲覧数:<%= number_with_delimiter(@page_views) %>回</p>
    <!-- いいね欄 favorited_by?はmodelに定義したもの-->
      <% if user_signed_in? %>
        <% if @post.favorited_by?(current_user) %>
          <%= link_to post_favorites_path(@post), :style=> 'text-decoration: none;', method: :delete do %>
            <i class="fa fa-heart" style="color: red;"></i>
          <% end %>
          <%= @post.favorites.count %>
        <% else %>
          <%= link_to post_favorites_path(@post), :style=> 'text-decoration: none;', method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
          <%= @post.favorites.count %>
        <% end %>
      <% else %>
        <i class="far fa-heart"></i>
        <%= @post.favorites.count %>
      <% end %>
    <!-- コメント欄 -->
      <%= render 'posts/comments', post: @post, comment_counts: @comment_counts,
                                   post_comments: @post_comments, comment: @comment %>
    </section>
    <!-- サイドバー -->
    <aside class="col-xs-3 text-center post_sidebar">
      <h4 class="page-header popular_headertitle">人気記事ランキング</h4>
      <% @popular_posts.each do |post| %>
        <div class="row popular_post">
          <div class="col-xs-5 user_popular_image">
            <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg', class: 'popular_headerimage' %>
          </div>
          <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
            <p class="text-left user_popularpost_title" style="color: black;"><%= post.title.truncate(20) %></p>
            <p class="text-left user_popularpost_genre" style="color: black;"><%= post.genre.genre_name %></p>
          <% end %>
        </div>
      <% end %>
      <div class="post_sidebar_bottom">
        <%= render 'users/side', user: @user %>
      </div>
    </aside>
  </div>
</div>