<section class="">
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<h4><%= @post.title %></h4>
				<p><%= markdown(@post.body).html_safe %></p>
			<!-- いいね欄 favorited_by?はmodelに定義したやつ-->
				<% if @post.favorited_by?(current_user) %>
					<%= link_to post_favorites_path(@post), :style=> 'text-decoration: none;', method: :delete do %>
						<i class="fa fa-heart" style="color: red;"></i>
					<% end %>
					<%= @post.favorites.count %>
				<% else %>
					<%= link_to post_favorites_path(@post), :style=> 'text-decoration: none;', method: :post do %>
					<i class="far fa-heart"></i>
					<% end %>
					<%= @post.favorites.count %>
				<% end %>
			<!-- コメント欄 -->
				<%= render 'posts/comments', post: @post, comment: @comment %>
				<%= number_with_delimiter(@page_views) %>
			</div>
			<div class="col-xs-3">
		<!-- サイドバー -->
				<%= render 'users/side', user: @user %>
			</div>
		</div>
	</div>
</section>