<!-- フォローしているユーザーの投稿 -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-1">
			<table class="table">
				<% @timeline.each do |post| %>
					<tr>
						<td width="10%">
							<%= attachment_image_tag post.user, :profile_image, format: 'jpeg', fallback: 'no_image.jpg', size: '60x60' %>
						</td>
						<td width="15%">
							<%= link_to user_path(post.user.id)  do %>
								<%= post.user.name %>
							<% end %>
							<br>
							<P><%= post.emotion.emotion_name %></P>
							<p class="posted_date"><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
						</td>
						<td>
							<%= link_to post_path(post.id)  do %>
								<h4><%= post.title %></h4>
							<% end %>
							<p><%= post.body.truncate(100) %></p>
							<p class="text-right"><%= post.genre.genre_name %></p>
						</td>
					</tr>
				<% end %>
			</table>
			<%= paginate @timeline %>
		</div>
		<aside class="col-xs-2 text-center">
			<%= render 'users/side', user: @user %>
		</aside>
	</div>
</div>