<div class="container-fluid top">
  <div class="top_contents">
    <% @posts_pv_count.each do |post| %>
      <div class="item">
        <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg' %>
        <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
          <h4 style="color: black;"><%= post.title.truncate(26) %></h4>
        <% end %>
        <p><%= post.genre.genre_name %></p>
        <%= link_to user_path(post.user.id), :style=> 'text-decoration: none;' do %>
          <p class="text-right top_username" style="color: black;"><%= post.user.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- ジャンル -->
<div class="container">
  <div class="row">
    <section class="genres">
      <h3 class="col-xs-12 page-header">ジャンル</h3>
      <%= render 'posts/genres', genre_popular_posts: @genre_popular_posts %>
    </section>
  </div>
<!-- おすすめ記事 -->
  <div class="row">
    <section class="col-xs-7 popular_posts">
      <h3 class="page-header">おすすめ記事</h3>
      <div class="row row-eq-height">
        <% @popular_posts.each do |post| %>
          <div class="col-xs-6 popular_contents">
            <div class="row">
              <div class="col-xs-5 col-sm-6 popular_content_image">
                <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg', class: 'post_headerimage' %>
              </div>
              <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
                <h4 class="popular_content_title" style="color: black;"><%= post.title.truncate(20) %></h4>
              <% end %>
              <p class="popular_genre_name"><%= post.genre.genre_name %></p>
              <%= link_to user_path(post.user.id), :style=> 'text-decoration: none;' do %>
                <p class="text-right popular_post_username" style="color: black;"><%= post.user.name %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  <!-- おすすめユーザー -->
    <section class="col-xs-4 col-sm-offset-1 popular_users">
      <h3 class="page-header">おすすめのユーザー</h3>
      <% @popular_users.each do |user| %>
        <div class="row user_contents">
          <div class="col-xs-4 col-sm-5 user_content_image">
            <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: '/images/no_image.jpg', class: 'profile_image' %>
          </div>
          <%= link_to user_path(user.id), :style=> 'text-decoration: none;' do %>
            <h4 class="popular_username" style="color: black;"><%= user.name %></h4>
            <% if user.introduction? %>
              <p class="popular_user_introduction" style="color: black;"><%= user.introduction.truncate(30) %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </section>
  </div>
<!-- 新着記事 -->
  <div class="row">
    <section class="new_posts">
      <h3 class="page-header">新着記事</h3>
      <div class="jscroll">
        <% @posts.each do |post| %>
          <div class="col-xs-4 new_contents">
            <div class="row">
              <div class="col-xs-5 col-sm-6 new_content_image">
                <%= attachment_image_tag post, :post_headerimage, format: 'jpeg', fallback: '/images/no_image.jpg', class: 'post_headerimage' %>
              </div>
              <%= link_to post_path(post.id), :style=> 'text-decoration: none;' do %>
                <h4 class="new_post_title" style="color: black;"><%= post.title.truncate(20) %></h4>
              <% end %>
              <p class="new_post_genre"><%= post.genre.genre_name %></p>
              <%= link_to user_path(post.user.id), :style=> 'text-decoration: none;' do %>
                <p class="text-right new_post_username" style="color: black;"><%= post.user.name %></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= paginate @posts %>
      </div>
    </section>
  </div>
  <div class="toppage">
    <i class="fas fa-arrow-circle-up fa-3x"></i>
  </div>
</div>
