<div class="top_box">
    <section class="top_image">
       <%#= link_to image_tag('トップに使用する画像', { :border => '0', :alt => 'トップページ', :size => '100x100'}), root_path %>
    </section>

    <section class="top_link">
      <div class="header_link_item_box">
          <li class="header_link_item">
            <% if user_signed_in? %>
              <%= link_to current_user.name, user_path(current_user) %>
            <% else %>
              <%= link_to "ゲスト", new_user_session_path %>
            <% end %>
          </li>
          <li class="header_link_item">
            <%= link_to "新規登録", new_user_registration_path%>/
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <% if user_signed_in? %>
            <li class="header_link_item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% end %>
      </div>
    </section>
</div>